/* Miq Css - by Mostafa Iqbal */
/* ***** BODY DEFAULT MARGING PADDING **** */
html, body {
    padding: 0;
    margin: 0;
}
#logo {
    margin-left: 25px;
    width: 70px;
    height: 70px;
}

.nav-link {
    font-family: 'Allerta Stencil'!important;
    color:darkcyan!important;
    border-bottom: 1px darkcyan solid;

  
}
.nav-link:hover {
    background-color: lightgray;
}

@media only screen and (max-width: 1000px) {
    #hr01 {
        display: none;
    }
}

h1 {
    color:darkcyan;
    font: outline;
    font-family: 'Spicy+Rice'!important;
    display: inline;
    font-weight: bold;
    white-space: nowrap;
    
}

@media only screen and (max-width: 800px) {
    h1 {
       display: inline-block!important;
       text-align: left;
       margin-left: -14px;
    }
}

h2 {
    color: darkcyan;
    font-size: 14px;
    text-align: center;
    margin-right: 18%;
    white-space: nowrap;
}


#callbtn {
    margin: 30px 0 10px 0;
}
#callbtn .btn-info a {
    color: white;
}


.btn-info {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
    font-weight: 80%;
    background-color: #0bb3b3;
}

#bookbtn {
    margin: 40px 0 0 8%;
    display: none;
}
#bookbtn .btn-info a {
    color: white;
}
#bookbtn .btn-info {
    font-size: 30px;
}

#main {
        padding:0px;
        margin:70px 0 0 0;
        border: 1px lightgray groove;
        padding: 15px 0 15px 0;
    }

#mainImg {
    width: 370px;
    height: 200px;
    margin-left: 15%;
    white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
    #mainImg {
        margin-left: -4%;
        text-align: center;
        max-width: 330px;
        height: auto;
                   
    }
}

#mainText {
    color: darkcyan;
    padding: 0px;
    max-width: 400px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 1000px) {
    #mainText {
       margin-left: 2%;
       margin-top: 10%;
       display: inline-block;
              
    }
}


#price {
    margin:50px 0px 0 0px;
    border: 1px lightgray groove;
    padding: 15px 0 15px 0;
    color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-size: 14px;  
}
#price ul li {
    list-style-type: none;
}

h4 {
    text-align: center; 
    margin-bottom: 30px;
}



#endhr {
    margin-top: 6%;
}

#footerdiv {
    background-color: whitesmoke;
}

footer {
   
    margin-bottom: 10px;
   
}

footer a {
    font-size: 12px;
    color: darkcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Main Templa
te Ends Here */

/* Location Page Style */
#locationsSection {
    margin-top: 15px;
}

@media only screen and (max-width: 1000px) {
    .locations {
       margin-left: 50px;
    }
}

.locations {
    color: darkcyan;
}
.locations:hover {
    color:black;
    text-decoration: none;
}

